<%- include('../partials/header') %>
<div class = "homepage">
  <h2>All Facespace members</h2>
  <!-- content here -->
  <ul class="homepage__all">
    <% users.forEach(profile => { %>
      <!-- <div class = "overflowframe"> -->
        <div class = "overflow">
          <li class="homepage__all--user">
            <% if (currentUser != undefined) {%>
              <%console.log(profile._id, currentUser)%>
              <% if (currentUser.friends.includes(profile._id)) {%>
                <a class = "friendframe" href="users/<%=profile._id%>"><img src="<%= profile.avatarUrl %>" /></a>
              <%} else {%>
                <a href ="users/<%=profile._id%>"><img src="<%= profile.avatarUrl %>" /></a>
              <%}%>
            <%} else {%>
              <a href="users/<%=profile._id%>"><img src="<%= profile.avatarUrl %>" /></a>
            <%}%>
          </li>
        </div>
      <!-- </div> -->
    <% }) %>
  </ul>
</div>
<%- include('../partials/footer') %>