<%- include('../partials/header') %>
<div class="profile-page">
  <div class = "profile-page--banner"></div>
  <div class = "profile-page__user">
    <img class = "profile-page__user--avatar" src="<%=profile.avatarUrl%>" alt="<%=profile.name%>'s image" />
    <h2><%=profile.name%></h2>
  </div>
  <div class="profile-page__friends">
    <h3><%= profile.name %>'s Friends</h3>
    <ul class="profile-page__friends--list">
      <% friends.forEach(element => { %>
      <li class="friend">
        <img src="<%=element.avatarUrl%>" alt="<%=element.name%>'s image"/>
        <p><%=element.name%></p>
      </li>
      <% }) %>
    </ul>
  </div>
</div>
<%- include('../partials/footer') %>