<%- include('../partials/header') %>
<div class="profile-page">
  <div class = "profile-page--banner"></div>
  <div class = "profile-page__user">
    <img class = "profile-page__user--avatar" src="<%=profile.avatarUrl%>" alt="<%=profile.name%>'s image" />
    <div>
      <h2 data-profile = <%=profile._id%> id="profile"><%=profile.name%></h2>
      <%if(currentUser != undefined && currentUser._id != profile._id && !currentUser.friends.includes(profile._id)) {%>
        <button>Request friendship</button>
      <%}%>
  </div>
  </div>
  <div class="profile-page__friends">
    <h3><%= profile.name %>'s Friends</h3>
    <ul class="profile-page__friends--list">
      <% friends.forEach(element => { %>
      <li class="friend">
        <img src="<%=element.avatarUrl%>" alt="<%=element.name%>'s image"/>
        <h3 class = "mainMenu" data-id="<%=element._id%>" data-user="<%=profile._id%>" ><%=element.name%></h3>
      </li>
      <% }) %>
      <% if(currentUser!= undefined){%>
          <% friendToBe.forEach(element => { %>
            <li class="friend overflowProfile">
              <div class="friend-to-be">
                <img src="<%=element.avatarUrl%>" alt="<%=element.name%>'s image"/>
                <h3 class = "mainMenu" data-id="<%=element._id%>" data-user="<%=profile._id%>" ><%=element.name%></h3>
              </div>
            </li>
          <%})%>
      <%}%>
    </ul>
  </div>
</div>
<%if(currentUser != undefined) {%>
  <%if(currentUser._id === profile._id){%>
    <script src = "/js/profilemenu.js"></script>
  <%} else{%>
    <%if(!currentUser.friends.includes(profile._id)){%>
      <script src = "/js/requestfriend.js"></script>
    <%}%>
  <%}%>
<%}%>

